.about-banner {
  width: 100%;
  object-fit: cover;
  height: 627px;
  margin-top: 150px;
  margin-bottom: 47px;
}

.about-title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 61px;
}

.about-description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;

  text-align: center;

  color: #ffffff;
  padding: 0 200px;
  margin-bottom: 150px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 28px;
  justify-content: center;
  margin-bottom: 150px;
}

.feature {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.feature-name {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;
}

.feature-description {
  height: 259px;
  background: #2b2a2a;
  border-radius: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;

  text-align: center;

  color: #ffffff;
}

.about-header {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;

  text-align: center;
  letter-spacing: 0.385em;
  margin-bottom: 50px;
  color: #ffffff;
}

.about-info {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  white-space: pre-line;
  margin-bottom: 150px;
  padding: 0 200px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 0 20px;
}

.white {
  color: white !important;
}


