.bottom-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    right: 0;
    padding: 0px 20px 25px 20px;
    gap: 0 25px;
}

.tabs {
    width: 500px;
    display: flex;
    align-items: center;
    background: #242424b3;
    border-radius: 16px;
    justify-content: space-between;
    padding: 8px 34px;
}

.tab-item {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}