.navbar-container {
    height: 90px;
    display: flex;
    align-items: start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
    padding: 35px 20px 0px 20px;
    transition: all 0.5s ease-in-out;
    background-color: #00000034;
    backdrop-filter: blur(10px);
}

.navbar-container.drawer{
    left: 400px;
}

.navbar-action {
    display: flex;
    gap: 0 20px;
}

.navbar-button {
    padding: 7px;
    border-radius: 12px;
    cursor: pointer;
    background: #2B2A2A;
    color: #ffffff66;
    transition: all 0.5s ease;
}


.navbar-connect-button {
    padding: 10px 12px;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    background: #2B2A2A;
    cursor: pointer;
    transition: background 0.5s ease;
}

.navbar-logo {
    flex:1;
    font-size: 30px;
    letter-spacing: 10px;
    line-height: 46px;
    color: #fff;
    transition: all 0.5s ease;
}

.navbar-dropdown {
    position: fixed;
    top: 90px;
    right: 20px;
    width: 100px;
    background: #2B2A2A;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.navbar-dropdown.hide {
    opacity: 0;
    visibility: 0;
}

.navbar-dropdown-item {
    padding: 10px 12px;
    cursor: pointer;
    text-align: left;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5s ease;
}

.navbar-dropdown-item:hover {
    color: #9A64F3;
}