.navbar-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
    padding: 0 20px;
    transition: background 0.5s ease;
    background-color: #00000034;
    backdrop-filter: blur(2px);
}


.navbar-action {
    display: flex;
    gap: 0 20px;
}

.navbar-button {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background: #ffffff11;
    color: #fff;
    transition: background 0.5s ease;
}

.navbar-logo {
    font-size: 30px;
    letter-spacing: 10px;
    color: #fff;
}