.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 103;
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  padding: 26px 43px;
  background-color: #19191b;
  border-radius: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.dialog-box {
  padding: 26px 43px;
  background-color: #19191b;
  border-radius: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dialog-box2 {
  padding: 26px 43px;
  background-color: #19191b;
  border-radius: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 42%;
  width: 40%;
}
/* .wrapper{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(189,189,189,0.9);
  z-index: 2;
} */
.dialog-header{
  display: flex;
  gap: 0 20px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 31px;
}
input{
  color: #ffffff;
}

input:focus {
  color: #ffffff;
}
.dialog-cross{
  height: 50px;
  width: 50px;
  color: white;

}

.dialog-title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: white;
  letter-spacing: 10px;
}

.options {
  display: flex;
  gap: 0 20px;
  margin-bottom: 26px;
}
.options2 {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.option {
  width: 150px;
  height: 151px;
  background: #38383d;
  box-shadow: -12px -12px 50px rgba(255, 255, 255, 0.1),
    12px 12px 50px rgba(0, 0, 0, 0.6);
  border-radius: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px 0;
  cursor: pointer;
}

.option img {
  width: 46px;
}

.option div {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.or-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
}

.sign-up-button {
  padding: 6px 10px;
  background: #7b61ff;
  border-radius: 9px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  cursor: pointer;
}

.dialog-input-box {
  display: flex;
  width: 618px;
  height: 76px;
  align-items: center;
  gap: 0 20px;
  background: rgba(85, 85, 86, 0.5);
  box-shadow: -12px -12px 50px rgba(255, 255, 255, 0.1),
    12px 12px 50px rgba(0, 0, 0, 0.6);
  border-radius: 27px;
  margin-bottom: 20px;
}

.dialog-input {
  padding: 25px 40px;
  width: 618px;
  height: 76px;
  background: transparent;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-radius: 27px;
  color: white;
}

.dialog-input::placeholder {
  color: #ffffff99;
}

input:-internal-autofill-selected {
    background: none !important;
    color: white !important;
}

.forgot-password {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff99;
  text-align: right;
  width: 100%;
  margin-bottom: 20px;
}

.dialog-button {
  background: #7b61ff;
  box-shadow: -12px -12px 50px rgba(255, 255, 255, 0.1),
    12px 12px 50px rgba(0, 0, 0, 0.6);
  border-radius: 27px;
  padding: 22px 50px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}
