.signup-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
  }
  
  .signup-form-left {
    /* background-color: #212121; */
    color: #fff;
    width: 30%;
    padding: 50px;
  }
  
  .signup-form-left h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .signup-form-left .form-group {
    margin-bottom: 20px;
  }
  
  .signup-form-left .form-group label {
    display: inline;
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .signup-form-left .form-group input {
    display: inline;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #424242;
    color: #fff;
  }
  
  .signup-form-left button[type="submit"] {
    background-color: #c2185b;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-form-right {
    /* background-color: #000080; */
    color: #fff;
    width: 30%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }  